@model List<gig_it.Models.GigOffer>
@{
    var rows = @Model;
}

@foreach (var row in rows)
{
    <tr x-transition x-data="{show_details: false}">
        <th>
            <div class="flex items-center gap-3">
                <div class="avatar placeholder">
                    <div class="bg-neutral text-neutral-content w-24 rounded-full">
                        <span class="text-3xl">@row.UserName.ToUpperInvariant()[0]</span>
                    </div>
                </div>
            </div>
        </th>
        <th>$@(Math.Round(@row.offer, 2))</th>
        <td>
            $@(@row.profit)
        </td>

        <td>@row.percent_profit %</td>
        <td>$@row.dollars_per_mile</td>
        <td>$@row.profit_per_mile</td>
        <td>$@(Math.Abs(@row.run_cost).Round(2))</td>

        <td>
            <div class="tooltip" data-tip="Visit">
                <a target="_blank" href="@row.route_url">
                    <div class="font-bold text-secondary truncate">@row.app_name.Trim()</div>
                </a>
            </div>
            <div class="tooltip" data-tip="Delete this record">
                <form hx-page="Index" hx-target="#leaderboard" hx-delete method="delete">
                    <button
                        hx-swap="outerHTML"
                        class="btn btn-accent"
                        asp-page-handler="Remove">
                        <box-icon name='trash'></box-icon>
                    </button>
                    <button
                        hx-swap="outerHTML"
                        asp-page-handler="Remove"
                        class="btn btn-accent">
                        <box-icon name='trash'></box-icon>
                    </button>
                </form>
                @* <button hx-trigger="click" *@
                @*         hx-delete="@Url.Page("Index", "Remove", new { id = row.id })" *@
                @*         hx-target="#leaderboard" *@
                @*         class="btn bg-transparent border-transparent text-lg"> *@
                @*     <box-icon name='trash'></box-icon> *@
                @* </button> *@
            </div>
        </td>

    </tr>
}

<style>
    
    .truncate {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      
</style>