@page
@model IndexModel
@{
}

<div>
    <h1>Validating nuget packages </h1>
    <p>hello there!</p>

    <button
        class="btn"
        hx-trigger='load'
        hx-get="@Url.Page("Index", "Types")">
        types
    </button>
    <button
        class="btn"
        hx-get="@Url.Page("Index", "RunDiagnostics")">
        diagnostics
    </button>
    <button
        class="btn"
        hx-trigger='load'
        hx-get="@Url.Page("Index", "ReadEmbeds")">
        ReadEmbeds
    </button>

    <button
        class="btn"
        hx-trigger='load'
        hx-get="@Url.Page("Index", "FakeLib")">
        FakeLib
    </button>

    <button
        class="btn"
        hx-trigger='load'
        hx-get="@Url.Page("Index", "Person", new { view = "_PersonDetails" })">
        Person
    </button>

</div>